header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__left{
        display: flex;
        justify-content: flex-end;
    }
    .header__action-btns{
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }
    .site-nav{
        &__list{
            display: flex;
            align-items: center;
            gap: 24px;
        }
        &__item{
            a{
                color: $link-color;
                @include font(500, 14px, 1.2);
            }
        }
    }
}

.site-logo{
    text-decoration: none;
    display: flex;
}