@mixin font($fw, $fz, $lh: 1){
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}

@mixin title{
    @include font(600, 18px, 1.2);
    color: $title-color;
    text-align: center;
    text-transform: uppercase;
    span {
      color: $pr-color;
    }
}