.hero {
  position: relative;
  height: 650px;
  flex-shrink: 0;
  .container {
    position: relative;
    height: 100%;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text-wrapper {
    position: relative;
    z-index: 1;
    position: absolute;
    left: 20px;
    bottom: 50px;
    &::after {
      content: "";
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
      position: absolute;
      bottom: -30px;
      left: -30px;
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    &-inner {
      padding: 13px 20px;
      background: $bg-color;
      box-shadow: 0px 2px 6px 0px #00000026;
      @include font(600, 30px, 1.1);
      color: $title-color;
      width: fit-content;
      &:first-child {
        z-index: 2;
        position: relative;
      }
      &:nth-child(2) {
        z-index: 1;
        position: relative;
      }
      &:last-child {
        z-index: 0;
        position: relative;
      }
    }
  }
}

.services {
  padding: 44px 0 45px;
  background-color: $second-bg;
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 19px;
    &-img {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-title {
      @include font(400, 14px, 1.4);
      color: $title-color;
    }
  }
}

.products {
  padding: 95px 0;
  &__title {
    @include title;
    margin-bottom: 27px;
  }
  .swiper-slide {
    height: auto !important;
  }

  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    background-color: $bg-color;
    &-img {
      width: 100%;
      padding: 26px 20px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      img {
        width: 200px;
        height: 141px;
        object-fit: contain;
      }
    }
    &-title-wrapper {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 0 24px;
      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
      }
    }
    &-title {
      @include font(600, 16px, 1.4);
      color: $title-color;
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
    &-brand {
      @include font(600, 14px, 1.4);
      color: $text-color;
    }
    &-price {
      @include font(600, 16px, 1.4);
      color: $pr-color;
    }
    &-btns {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0 25px;
    }
    &-cart-btn {
      @extend %pr-btn;
      padding: 12px 24px;
    }
    &-more-btn {
      @extend %second-btn;
      padding: 12px 24px;
    }
  }
  &__wrapper {
    position: relative;
  }
  &__prev-btn,
  &__next-btn {
    box-shadow: 0px 2px 6px 0px #00000026;
    background-color: $bg-color;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 110px;
    z-index: 2;
  }
  &__prev-btn {
    left: -20px;
  }
  &__next-btn {
    rotate: 180deg;
    right: -20px;
    box-shadow: 0px -2px 6px 0px #00000026;
  }
}

.looking{
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  &__text-wrapper{
    width: 100%;
    max-width: 570px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__title{
    @include title;
    margin-bottom: 24px;
  }
  &__desc{
    line-height: 1.8;
    margin-bottom: 17px;
    span{
      color: $title-color;
    }
  }
  &__btns-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__cotalog-btn{
    @extend %pr-btn;
    text-transform: uppercase;
  }
  &__search-btn{
    @extend %second-btn;
    text-transform: uppercase;
  }
}































#cart-modal {
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.open-cart-modal {
  transform: translateX(0) !important;
}
#overlay {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.open-overlay {
  opacity: 1 !important;
  pointer-events: visible !important;
}
